#trace 168000000 swo.out

source [find interface/stlink-dap.cfg]

transport select dapdirect_swd

source [find target/stm32f4x.cfg]

# reset_config srst_only srst_nogate
reset_config none separate

# Enable debug when in low power modes
set ENABLE_LOW_POWER 1

# Stop Watchdog counters when halt
set STOP_WATCHDOG 1

# Access port number required to debug on STM32H5 devices (port 0 will not work)
set AP_NUM 1